.blogMenu {
    width: 800px;
    margin: auto;
    margin-bottom: 20px;
    .menuItem {
        width: 100px;
        padding: 5px;
        border: 1px solid #ccc;
        display: inline-block;
        background-color: white;
        text-align: center;
    }
}
