
<div class="row">
	<div class="col-3-sm col-4-lg">
	</div>
	<div class="col-6-sm col-4-lg">
	<div class="blogArchive">
		<div class="archiveContent">
				<div class="titleBar">
					<span class="title">
						Archives
					</span>
					<!--
					<div class="searchContainer">					
						<form name="archiveSearchForm" ng-submit="searchArchives(archiveSearchFilter)" novalidate>
							<input type="text"
							       ng-model="archiveSearchFilter"
							       class="searchBar"
							       placeholder="Filter results or send to search">
							</input>
							<button class="searchButton" type="submit">></button>
						</form>

					</div>
					-->
				</div>
				
				<hr />
				<!-- Search results information -->
				<span>
					{{ filteredPosts.length }}
					<span ng-if="filteredPosts.length != 1">
						posts
					</span>
					<span ng-if="filteredPosts.length == 1">
						post
					</span>			
					found
				</span>
				
				<hr ng-if="filteredPosts.length > 0"/>
				<p ng-if="filteredPosts.length == 0">
					<!-- vertical space -->
				</p>
		
				<div class="post" ng-repeat="post in posts | filter:archiveSearchFilter as filteredPosts">
					<a ui-sref="blog.view({slug: post.slug})">
						<p class="title">
							{{ post.title }}
						</p>
						<p class="postMetaData">
							{{ post.postedDate | date:'EEE d MMMM yyyy'}}
							<span class="ghost">By</span>
							{{ post.author }}
							<br/>
							<span class="ghost">In</span>
							<a ui-sref="blog.archive({tags: tag})" ng-repeat="tag in post.tags">
								<span class="tag">{{ tag }}{{ $last ? '' : ', ' }}</span>
							</a>
						</p>
					</a>			
					<hr ng-hide="$last"/>
				</div>
			</div>
		</div>
	</div>
	<div class="col-3-sm col-4-lg">
	</div>
</div>